<div class="columns is-centered mt-6">
    <div class="column is-half">
        <% @entries.each do |day, entry|%>
            <h3 class="is-size-4 has-text-weight-bold mb-4 has-text-centered"> Tasks of the day <%= day %></h3><br/>
            
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <p class="heading">Points </p>
                    <p class="title"><%= entry.pluck(:points).sum%></p>
                </div>
            </nav>
            
            <% entry.each do |entry|%>
                <%= link_to entry_path(entry) do %>
                    <div class="card">
                        <div class="card-content">
                            <strong><%= entry.task_name%></strong><br/>
                            <%= entry.difficulty%>
                            <%= entry.points%>
                        </div>
                    </div>
                <%end%>
            <% end %>
        <%end%>
    </div>
</div>
